@model List<HouseholdModel>

<div class="container">
    <div class="row">
        <div class="col-12 mx-auto text-center text-primary my-4">
            <h1>Households</h1>
            <hr />
        </div>
        <div class="col-12 mx-auto">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped display" id="dataTable">
                        <thead class="thead-dark">
                            <tr>
                                <th>Name</th>
                                <th>Created</th>
                                <th>Updated</th>
                            </tr>
                        </thead>
                        <tfoot class="thead-dark">
                            <tr>
                                <th>Name</th>
                                <th>Created</th>
                                <th>Updated</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var household in Model)
                            {
                                <tr>
                                    <td><a class="text-info" href="@Url.Action("GetHousehold", "Households", new { id=household.Id})">@household.Name</a></td>
                                    <td>@household.Created</td>
                                    @if (household.Updated.HasValue)
                                    {
                                        <td>@household.Updated</td>
                                    }
                                    else
                                    {
                                        <td>never</td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
