<div class="jumbotron">
    <h1>Household Manager</h1>
    <p class="lead">Household manager is a powerful tool to manage your household by keeping track and editing it's members and, bank accounts and its transactions on different categories.</p>
</div>

<div class="row">
    <div class="col-md-4">
        
    </div>
</div>